<div class="section-login">
  <div class="row">
    <div class="login">
      <div class="container">
        <mat-card class="login__form">
          <form class="form" [formGroup]="passwordsGroup">
            <div class="u-margin-bottom--small">
              <h2 class="login__header">Reset Password</h2>

            </div>

            <section>
              <div class="form__group">
                  <label for="password" class="form__label">Password</label>
                <input id="password" name="password" class="form__input" type="password" formControlName="password" autocomplete="password" required/>
              </div>

              <div class="form__group">
                <label for="password" class="form__label">Repeat Password</label>
                <input id="passwordConfirm" name="passwordConfirm" class="form__input" type="password" formControlName="passwordConfirm" autocomplete="passwordConfirm" required/>
                <mat-error class="message__error" *ngIf="passwordsGroup.hasError('passwordError') && passwordsGroup.get('passwordConfirm')?.touched && passwordsGroup.get('passwordConfirm')?.dirty">Those passwords didn’t match. Try again.</mat-error>
              </div>
            </section>

            <div class="u-margin-bottom--small">
              <button class="btn btn--blue" (click)="resetPassword()">
                  Reset Password
              </button>
          </div>
          </form>
        </mat-card>
      </div>
      </div>
  </div>
</div>
