<div class="activity-card">
<section class="activity-card__banner">
<div class="activity-card__banner__container">
  <img class="activity-card__banner__img" src="../../../../assets/images/icon-work.svg">
</div>
</section>
<section class="activity-card__main">
  <h4 class="activity-card__main__heading u-margin-bottom--small">
    <span class="activity-card__main__heading-title">
      Work
    </span>
    <span class="activity-card__main__heading-actions">
      ...
    </span>
  </h4>
  <div class="activity-card__main__details">
    <p class="activity-card__main__details--main">32hrs</p>
    <p class="activity-card__main__details--sub">Last Week - 36hs</p>
  </div>
</section>
</div>
