@use "../../../../../mixins" as *;


.mat-card {
  background: transparent;
}

.activity-card {
  width: 15rem;
  height: 11rem;

  @include respond(tab-port) {
    width: 25rem;
    height: 9rem;
    margin-bottom: 4rem;
  }

  .banner {
    position: relative;
    width: 100%;
    height: 2.75rem;

    &__container {
      top: 0;
      right: 0;
      position: absolute;
      width: 100%;
      height: 5rem;
      overflow: hidden;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    &__img {
      padding-right: 1rem;
      position: absolute;
      top: -10%;
      right: 0;
      width: 6rem;
      max-width: 100%;
    }
  }

  .container {
    height: 100%;
    position: relative;
    z-index: 0;

    .mat-icon-button {
      position: absolute;
      top: 0;
      right: 0;
      color: #fff;
      z-index: 1;
      transform: translate(-50%, 15%);

      @include respond(tab-port) {
        transform: translate(-50%, 0%);
       }
    }
  }
  .main {
    font-family: "Rubik", sans-serif;
    color: #fff;
    background-color: var(--dark-blue);
    height: 100%;
    border-radius: var(--border-radius);
    padding: 1rem;
    width: 100%;
    position: relative;
    user-select: none;


    &__heading {
      font-weight: 400;
      margin-left: 1rem;
    }

    &__details {
      padding-left: 1rem;
      font-weight: 300;

      @include respond(tab-port) {
       display: flex;
       align-items: center;
       justify-content: space-between;
      }

      &--main {
        font-size: 3.5rem;
      }

      &--sub {
        margin-top: 0.4rem;
        font-size: 0.9rem;
        color: var(--pale-blue);
      }
    }
  }
}
