<div class="activity-card">
  <mat-card class="banner">
    <div
      [style.background]="activityMap[data.title].background"
      class="banner__container"
    >
      <img
        class="banner__img"
        src="../../../../assets/images/{{ activityMap[data.title].icon }}.svg"
      />
    </div>
  </mat-card>

  <mat-card class="main" matRipple>
    <h4 class="main__heading u-margin-bottom--small">
      <span class="main__heading-title">
        {{ data.title }}
      </span>
      <span class="main__heading-actions"> ... </span>
    </h4>
    <div class="main__details">
      <p class="main__details--main">{{ data.timeframes.weekly.current }}hs</p>
      <p class="main__details--sub">
        Last Week - {{ data.timeframes.weekly.previous }}hs
      </p>
    </div>
  </mat-card>

</div>
