<div class="activity-card">
  <mat-card class="banner">
    <div
      [style.background]="activityMap[data.title].background"
      class="banner__container"
    >
      <img
        class="banner__img"
        src="../../../../assets/images/{{ activityMap[data.title].icon }}.svg"
      />
    </div>
  </mat-card>

  <div class="container">
    <button mat-icon-button (click)="$event.preventDefault()">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-card class="main" matRipple>
      <h4 class="main__heading u-margin-bottom--small">
          {{ data.title }}
      </h4>
      <div class="main__details">
        <p class="main__details--main">
          {{ data.timeframes[(frequency | async)!].current}}hs
        </p>
        <p class="main__details--sub">
          Last Week - {{ data.timeframes[(frequency | async)!].previous }}hs
        </p>
      </div>
    </mat-card>
  </div>
</div>
