@use "../../../../../../mixins" as *;


.section-login {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--very-dark-blue);


  .row {
    max-width: 60rem;
    width: 100%;

    @include respond(tab-port) {
      max-width: 55rem;
    }

    @include respond(phone) {
      max-width: 25rem;
    }


    .login {
      &__header {
        font-weight: 300;
        color: var(--soft-blue);
      }

      .container {
        background-image: linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 255, 255, 0.9) 50%,
            transparent 50%
          ),
          url(../../../../../assets/img/4894175.jpg);


          @include respond(phone) {
            background-image: linear-gradient(
              105deg,
              rgba(255, 255, 255, 0.9) 0%,
              rgba(255, 255, 255, 0.9) 100%
            ),
            url(../../../../../assets/img/4864967.jpg);
          }

        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0;
        border-radius: 3px;
      }

      &__form {
        padding:6rem;
        width: 50%;
        background-color: transparent;
        box-shadow: none;

        @include respond(tab-port) {
          padding: 5rem;
        }

        @include respond(phone) {
          padding: 2rem;
          width: 100%;
        }

      }
    }
  }
}

.form {
  &__group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;

  }

  &__input {
    font-family: inherit;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;

    &:focus {
      outline: none;
      border-bottom: 3px solid green;
    }

    &:focus:invalid {
      border-bottom: 3px solid orange;
    }

  }

  &__link {
    color: var(--desaturated-blue);
    font-size: 0.8rem;
    font-weight: 500;

    &--soft-blue {
      color: var(--soft-blue);
    }
  }



  &__label {
    font-size: 0.8rem;
    margin-left: 1rem;
    margin-bottom: 0.7rem;
    color: var(--very-dark-blue);
  }
}


.btn {
  text-decoration: none;
  padding: 0.75rem 2rem;
  font-family: inherit;
  font-size: inherit;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &--blue {
    background-color: var(--soft-blue);
    color: #fff;
    width: 100%;

    &:focus,
    &:active {
      outline: 4px solid var(--pale-blue);
    }
  }
}

.btn-box {
  display: flex;
  align-items: center;
  text-align: center;
  .btn {
    width: 65%;
  }

  p {
    color: #000;
    width: 10%;
  }
}
