<div class="section-register">
  <div class="row">
    <div class="register">
      <div class="container">
        <mat-card class="register__form">
          <form class="form" [formGroup]="registerForm">
            <div class="u-margin-bottom--small">
              <h2 class="register__header">Register</h2>

            </div>

            <div class="form__group">
              <label for="email" class="form__label">Email</label>
              <input id="email" name="email" class="form__input" type="email" formControlName="email" autocomplete="email" required/>
              <span class="error mat-error" *ngIf="email.hasError('email') && email?.touched">The entered e-mail is not valid.</span>
              <span class="error mat-error" *ngIf="email.hasError('required') && email?.touched">E-mail is required.</span>
            </div>

            <section formGroupName="passwordsGroup">
            <div class="form__group">
                <label for="password" class="form__label">Password</label>
              <input id="password" name="password" class="form__input" type="password" formControlName="password" autocomplete="password" required/>
              <span class="error mat-error" *ngIf="password.hasError('required') && password?.touched">Password is required.</span>
            </div>

            <div class="form__group">
              <label for="password" class="form__label">Repeat Password</label>
              <input id="passwordConfirm" name="passwordConfirm" class="form__input" type="password" formControlName="passwordConfirm" autocomplete="passwordConfirm" required/>
              <span class="error mat-error" *ngIf="passwordsGroup.hasError('passwordError') && passwordConfirm?.touched">Those passwords didn’t match. Try again.</span>
            </div>
          </section>



            <div class="u-margin-bottom--small">
              <button type="submit" class="btn btn--blue"  (click)="register()">
                  Continue
              </button>
          </div>
          </form>
          <div>
            <h3 class="login">Already have an account? <a class="form__link" routerLink="/login">Log in</a></h3>
          </div>
        </mat-card>
      </div>
      </div>
  </div>
</div>
